.dialog {
    background-color: #65254A;
    position: fixed;
    bottom: 100px;
    right: 200px; 
    display:block;
    height: 50px;
    width: 40px;
    border-radius: 30%;
    background-color:#65254A;
    color: white;
    border: 0;
}

.dialog:hover {
    background-color: #582041;
    border:0
}